body {
  font-family: arial black;
  font-size: 12px;
  line-height: 1.5;
  max-width: 900px;
  color: black;
  background-color: rgb(180, 180, 180);
  margin-left: 30px;
  columns: 1fr 1fr;
  text-align: left;

}

img{
  max-width: 70%;
  align-items: center;
  left: 900px;
  position: relative;
}

a{
text-decoration: none;
color: black;
font-size: 30px;
}
