@import url("https://use.typekit.net/wwm0ksr.css");

body { 
    padding:0 2%;
    margin: 0;
    font-family: neue-haas-grotesk-display,sans-serif;
font-weight: 600;
font-style: normal;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 174, 174);
    position: sticky;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}
nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(179, 174, 174);
}
nav ul li:hover {
    border-bottom-color: black;
}

